<div ng-controller="CompetitionsController">

	<button type="button" class="btn btn-primary pull-right" ng-show="isAdmin()" style="margin-top:15px; margin-right:15px;">Создать соревнование</button>
	<div class="panel panel-default">
		<div id="vacationRequests" class="panel-collapse collapse in"
			style="height: auto;">
			<div class="panel-body">
				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>Название</th>
							<th>Место</th>
							<th>Описание</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="cmp in competitions" class="tableContent">
							<td>
								<a href="" ng-click="console.log(cmp); viewDetail(cmp)">{{cmp.name}}</a>
							</td>
							<td>{{cmp.place}}</td>
							<td>{{cmp.description}}</td>
							<td>
								<button type="button" class="btn btn-xs btn-success">Участвовать</button>
							</td>
						</tr>
						<tr ng-show="isPaginationRendered()" class="tablePaginator">
							<td colspan="8" align="center">
								<pagination boundary-links="true" max-size="maxSize" items-per-page="pageSize" total-items="totalItems" page="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" on-select-page="selectPage(page)"></pagination></td>
						</tr>
						<tr ng-show="hasNoData()">
							<td colspan="8" align="center">
								<span data-i18n="message.noData"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<hr>